thead th{
    background: #7B9608;
    color: #fff;
}
table#example{
    border-spacing:1px !important;
}
tbody tr.even tbody tr.even>.sorting_1{
    background: #ebeff1 !important;
}

.dataTables_paginate {
    float: left !important;
    margin-top: -42px !important;
}

table.dataTable.no-footer{
    border-bottom: 0px;
    border: 1px solid #d4d4d4;
}
table.dataTable thead th, table.dataTable thead td{
    padding: 0px !important;
}

